@import 'reset';

html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    font-family: Simonetta, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background: url(/img/bg.jpg) no-repeat;
    background-size: 100%;
}

#content {
    width: 100%;
    height: 100%;
    position: relative;
    p {
        margin: 0 0 1.5em;
        line-height: 1.8em;
    }
    #side-col {
        position: absolute;
        width: 36%;
        padding: 1%;
        h1 {
            font-size: 2em;
        }
        .copyright {
            font-size: 0.8em;
            color: #333;
            width: 70%;
            text-align: center;
            margin: 0 auto;
        }
    }
    #map_canvas {
        position: relative;
        height: 100%;
        left: 39%;
        margin-right: 39%;
        .infowindow {
          width: 360px;
          h1 {
            font-size: 1.5em;
            margin-bottom: 0.5em;
            text-align: center;
          }
          img {
            padding-right: 10px;
            float: left;
          }
        }
    }
}
