<div id="header">
    <h1>Bukit Gasing Trails</h1>
    <ul id="nav">
        <li><a href="http://facebook.com/calumhalcrow">Contact</a></li>
    </ul>
</div>
<div id="content">
    <div id="side-col">
        <p>Bukit Gasing is a forest park wedged between Kuala Lumpur and Petaling Jaya.</p>
    </div>
    <div id="map_canvas"></div>
</div>
