<!DOCTYPE html>
<html>
<head>
    <title>Bukit Gasing Trails</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div id="content">
        <div id="intro">
            <h1>Bukit Gasing Trails</h1>
            <p>Bukit Gasing is a forest park wedged between Kuala Lumpur and Petaling Jaya.</p>
        </div>
        <div id="map_canvas"></div>
        <div id="main">
            {{ content }}
        </div>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDFsxVoSRsnyx-mtn3pYci3PWM2OVoONW0&sensor=false"></script>
    <script type="text/javascript" src="/js/FullScreenControl.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>
</body>
